
Project1/Project1/.idea/inspectionProfiles/profiles_settings.xml
Project1/Project1/.idea/misc.xml
Project1/Project1/.idea/modules.xml
Project1/Project1/.idea/Project1.iml
Project1/Project1/.idea/vcs.xml
Assignment4/.ipynb_checkpoints/
Project3/SBERT_embeddings.csv
Project3/SBERT_embeddings.csv
Project3/SBERT_embeddings.csv
Project3/F24_Proj3_data/split_5/train.csv
Project3/F24_Proj3_data/split_5/test.csv
Project3/F24_Proj3_data/split_5/.DS_Store
Project3/F24_Proj3_data/split_4/train.csv
Project3/F24_Proj3_data/split_4/test_y.csv
Project3/F24_Proj3_data/split_4/test.csv
Project3/F24_Proj3_data/split_4/.DS_Store
Project3/F24_Proj3_data/split_3/train.csv
Project3/F24_Proj3_data/split_3/test_y.csv
Project3/F24_Proj3_data/split_3/test.csv
Project3/F24_Proj3_data/split_3/.DS_Store
Project3/F24_Proj3_data/split_2/train.csv
Project3/F24_Proj3_data/split_2/test_y.csv
Project3/F24_Proj3_data/split_2/test.csv
Project3/F24_Proj3_data/split_2/.DS_Store
Project3/F24_Proj3_data/split_1/train.csv
Project3/F24_Proj3_data/split_1/test_y.csv
Project3/F24_Proj3_data/split_1/test.csv
Project3/.idea/vcs.xml
Project3/.idea/Project3.iml
Project3/.idea/modules.xml
Project3/.idea/misc.xml
Project3/.idea/inspectionProfiles/profiles_settings.xml
Project3/F24_Proj3_data/.DS_Store
Project3/F24_Proj3_data/split_1/.DS_Store
Project3/.ipynb_checkpoints/ahwang22-checkpoint.ipynb
