
Project1/Project1/.idea/inspectionProfiles/profiles_settings.xml
Project1/Project1/.idea/misc.xml
Project1/Project1/.idea/modules.xml
Project1/Project1/.idea/Project1.iml
Project1/Project1/.idea/vcs.xml
Assignment4/.ipynb_checkpoints/
